html, body {
  margin: 0;
  padding: 0;
  background-color:#d0d0d0;
}
canvas {
  display: block;
}

#actionsketch{
  float:left;
  margin:10px;
  
}

#uisketch{
  float:left;
  margin:10px;
}

#coloursketch{
  margin:10px;
  clear:both;
}