/*experiment with grid and flexbox*/
.grid:after{
  clear:both;
  display: block;
  content: "";
}

#graphsettings.settingscontainer{
  background-color: #f8dada;
}
#controls.settingscontainer{
  background-color: #f6e9d7;
}
#misc.settingscontainer{
  background-color: #eff5d6;
}
#consolecontrols.settingscontainer{
  background-color: #d8f8d5;
}
#graphcontrols.settingscontainer{
  background-color: #ceeff6;
}

.containertitle{
  margin-top: -5px;
}
.settingscontainer{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 3px 6px 3px 6px;
  float:left;
  width:auto;  
}
#context.settingscontainer{
  background-color: rgba(255, 255, 255, 0.90);/*#cecff6;*/
  position:absolute;
  left:40px;
  top:100px;
  float:none;
  display: none;
  height: auto;
  border-radius:4px;

  /*width:500px;*/
  z-index: 100;
  /*float:none
  display: none;*/
}
#sketcharea {
  float:left;
  /*width:80%;*/
}
#console {
  float:left;
  /*width:20%;*/
}
/*experiment with grid and flexbox*/
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.spancurr{
  background-color:rgb(244, 244, 91);
  /*display: block;*/
  font-weight: bold;
}
.spanneig{
  background-color:rgb(86, 202, 251);
  font-weight: bold;
  /*display: block;*/
}
.spanupdt{
  background-color:rgb(251, 163, 87);
  font-weight: bold;
  /*display: block;*/
}

table, th, td {
  border: 1px solid;
  border-color: #888;
}
th {
  background-color:#ccc;
}
table {
  break-inside: avoid;
  border-collapse: collapse;
}
.startrow{
  background-color: rgb(214, 148, 227);
}
.goalrow{
  background-color: rgb(166, 223, 175);
}
button{
  height:40px;
  width: 60px;
  text-align: center;
  border-radius:4px;
}
label{
  display: block;
}
/*
#controls{
  float:inline-end;
}
*/
.actionkey{
  /*background-color:rgb(66, 161, 109)*/
  font-weight: bold;
  font-size: larger;
}
.contextline{
  margin: 1px;
  text-align: left;
}
.contextspan{
  margin: 1px 5px 1px 5px;
  text-align: left;
}
.buttonholder{
  border-style:dashed;
  border-width: 1px;
  padding: 3px;
  float:left;
  text-align: center;
  padding: 0;
  height:56px;
  width:72px;
}
.contextholder{
  border-style:dashed;
  border-width: 1px;
  padding: 3px;
  border-radius:3px;
  /*float:left;*/
  text-align: center;
  padding: 0;
  height:inherit;/*56px;*/
  width: inherit;
 /* width:72px;*/
}
select{
  width: 70px;
  /* A reset of styles, including removing the default dropdown arrow*/
  appearance: none;
  /* Additional resets for further consistency*/
  background-color: transparent;
  border: none;
  padding: 1em 0 0 0;
  margin: 0;
  /*width: 100%;*/
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}
option{
  width: 70px;
  padding: -1em 0 0 0;
}
.buttonfalse{
  background-color: rgb(182, 224, 233);
  height:40px;
  width: 60px;
  text-align: center;
  border-radius:4px;
  padding: 0;
}
.buttontrue{
  background-color: #85c8f5;
  height:40px;
  width: 60px;
  text-align: center;
  padding: 0;
  border-radius:4px;
}
#rdivisor{
  width:60px;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}
body::-webkit-scrollbar{
  display: none;
}
.viewname{
  background-color: rgb(220,220,255,0);
  font-weight: bold;
  position:absolute;
  border-style: none;
  left:5px;
  top:5px;
  width: 300px;
}
#mainarea{
  position: relative;
}
.editname{
  background-color: rgb(255,255,255,255);
  position:absolute;
  left:5px;
  top:5px;
  width:300px;
  border-style: dashed;
}
#sketcharea{
  /*float:left;
  width:80%;
  height:80%;  */
  position: relative;
}

#upload{
  display: none;
}
#overoptions{
  background-color:#efe;
  clear: both;
  border-radius: 5px;
  border: 2px solid #73ADff;
  border-style:none none dashed dashed ;
}
#joinnode{
  clear: both;
  background-color:#eef;
  border-radius: 5px;
  border: 2px solid #73ADff;
  border-style:none none dashed dashed ;
}
#removenode{
  clear: both;
  background-color:#fee;
  border-radius: 5px;
  border: 2px solid #73ADff;
  border-style:none none dashed dashed ;
}

@media screen and (max-width: 850px) {
  #console {
    clear: both;
    height:auto;
    float:none;
    overflow-y:visible;
  }
}

#createfrom{
  color:#3030dd;
  font-weight:bold;
}
#destroyfrom{
  color:#dd3030;
  font-weight:bold;
}
.key{
  background-color:#ddd;
  color:#303030;
  font-weight:bold;
    border-radius: 5px;
  border: 2px solid #73ADff;
}
@media print {
  .settingscontainer{display: none;}
  /*#context {display:none;}
  #showcontext {display:none;}*/
  #console {
    clear: both;
    height:auto;
    float:none;
    width:100%;
    overflow-y:visible;
  }
}