/*experiment with grid and flexbox*/
.grid:after{
  clear:both;
  display: block;
}
#graphsettings{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  background-color: #f1f1f1;
  float:left;
  width:auto;
}
#controls{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  background-color: #f1f1f1;
  float:left;
  width:auto;
}
#sketcharea {
  float:left;
  width:80%;
}
#console {
  float:left;
  width:20%;
}
/*experiment with grid and flexbox*/
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.spancurr{
  background-color:rgb(244, 244, 91);
  /*display: block;*/
  font-weight: bold;
}
.spanneig{
  background-color:rgb(86, 202, 251);
  font-weight: bold;
  /*display: block;*/
}
.spanupdt{
  background-color:rgb(251, 163, 87);
  font-weight: bold;
  /*display: block;*/
}

table, th, td {
  border: 1px solid;
  border-color: #888;
}
th {
  background-color:#ccc;
}
table {
  break-inside: avoid;
  border-collapse: collapse;
}
.startrow{
  background-color: rgb(214, 148, 227);
}
.goalrow{
  background-color: rgb(166, 223, 175);
}
button{
  height:40px;
  width: 60px;
  border-radius:4px;
}
label{
  display: block;
}
/*
#controls{
  float:inline-end;
}
*/
.buttonholder{
  border-style:dashed;
  border-width: 1px;
  padding: 3px;
  float:left;
  text-align: center;
}
.buttonfalse{
  background-color: #aaa;
  height:40px;
  width: 60px;
  border-radius:4px;
}
.buttontrue{
  background-color: #73ADff;
  height:40px;
  width: 60px;
  border-radius:4px;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}
body::-webkit-scrollbar{
  display: none;
}
.viewname{
  background-color: rgb(220,220,255);
  font-weight: bold;
  position:absolute;
  border-style: none;
  left:5px;
  top:5px;
  width: fit-content;
}
#mainarea{
  position: relative;
}
.editname{
  background-color: rgb(255,255,255);
  position:absolute;
  left:5px;
  top:5px;
  width: fit-content;
  border-style: dashed;
}
#sketcharea{
  /*float:left;
  width:80%;
  height:80%;  */
  position: relative;
}
/*
#canvas {
  display: block;
  float:left;
  width:600px;
  height:600px;
}
*/
#upload{
  display: none;
}
#overoptions{
  background-color:#efe;
  clear: both;
  border-radius: 5px;
  border: 2px solid #73ADff;
  border-style:none none dashed dashed ;
}
#joinnode{
  clear: both;
  background-color:#eef;
  border-radius: 5px;
  border: 2px solid #73ADff;
  border-style:none none dashed dashed ;
}
#removenode{
  clear: both;
  background-color:#fee;
  border-radius: 5px;
  border: 2px solid #73ADff;
  border-style:none none dashed dashed ;
}
/*
#console {
  clear:right;
 
  float:left;
  height: auto;
  overflow-y:scroll;
  overflow-x:hidden;
}
*/
@media screen and (max-width: 850px) {
  #console {
    clear: both;
    height:auto;
    float:none;
    overflow-y:visible;
  }
}
/*#console::-webkit-scrollbar {
  width: 40px; /* Mostly for vertical scrollbars */
  /*height: 10px; /* Mostly for horizontal scrollbars */

#createfrom{
  color:#3030dd;
  font-weight:bold;
}
#destroyfrom{
  color:#dd3030;
  font-weight:bold;
}
.key{
  background-color:#ddd;
  color:#303030;
  font-weight:bold;
    border-radius: 5px;
  border: 2px solid #73ADff;
}
@media print {
  #graphsettings {display:none;}
  #controls {display:none;}
  #overoptions {display:none;}
  #joinnode {display:none;} 
  #removenode {display:none;}
  #console {
    clear: both;
    height:auto;
    float:none;
    width:100%;
    overflow-y:visible;
  }
}